body {
  background-color: #282c34;
  color: white;
}

a {
  color: #61dafb;
}

.appbar {
  &:global(.MuiAppBar-root) {
    // height: 50px;
    padding-left: 100px;
  }
}

.toolbar {
  &:global(.MuiToolbar-root) {
    padding: 0;
    height: 50px;
    min-height: 0;
  }
}

.title {
  &:global(.MuiTypography-root) {
    font-size: 1.2rem;
  }
}

.container {
  margin: 50px 100px;
}

.raiderIOInput {
  :global(.MuiInputBase-input) {
    color: white;
    ::placeholder {
      color: white;
    }
  }
}

.buttonGroup {
  margin-top: 50px;
}
